.header {
    background-image: url(../../assets/image-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.header-h1 {
    margin: 0;
}

.header-h2 {
    font-weight: 200;
    font-size: 2rem;
    height: 10rem;
    border: 1px solid #fff;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 70%;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.color-white {
    color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    height: 80%;
}
.active{
    background-color: #000;
}

@media only screen and (min-width: 600px){
    .header-h2{
        width: 45%;
    }
    .header-container{
        margin: 0 auto;
        width: 90%;
    }
}
@media only screen and (min-width: 900px){
    .testing{
        display: none;
    }
}