.presentation-container {
    padding: 1rem;
}

.presentation-image {
    max-width: 97%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.presentation-h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
}

.presentation-p {
    color: rgb(62, 62, 62);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .presentation-container {
        margin: 0 auto;
        width: 80%;
    }
}